<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission To Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <!-- Mars news and synopsys -->
    <div class="row" id="Latest Mars News">
      <div class="col-md-12">
        <h3 class="heading">Latest Mars News</h4>
        <h4 class="heading">{{all_content.news_title}}</h4>
        <p>{{all_content.news_synopsis}}</p>
      </div>
    </div>
    <div class="container">
            <div class="row">
              <!-- Mars featured image -->
                <div class="col-md-8">
                  <h3 class="heading">Featured Mars Image</h4>
                    <img src="{{ all_content.featured_image }}" style="max-width:100%; max-height: auto;" alt="Mars Featured Image">
                </div>
                <!-- Mars Weather -->
                  <div class="col-md-4">
                    <h3 class="heading">Current Weather On Mars</h4>
                      <p>{{all_content.weather}}</p>
                    <br>
                    <h3 class="heading">Mars Facts</h4>
                      <p>{{all_content.facts|safe}}</p>
                  </div>
          </div>
      </div>
      <!-- Cards -->
      <!-- Mars Hemispheres -->
        <h3 style="padding-top: 50px; margin-top: 100px; text-align: center;">Mars Hemispheres</h3>
        <div class="card-deck">
            <hr>
            <div class="col-md-12">
                <div class="row">
                    {% for item in all_content.hemisphere_image_urls %}
                    <div class="col-md-6">
                        <div class="card text-white bg-dark" style="margin: 30px;">
                            <img class="card-img-top" src="{{ item.img_url }}" style="max-width:100%; max-height: auto;"/>
                            <div class="card-body">
                                <h3 class="card-text">{{ item.title }}</h3>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>
